 <ion-view title="College Directory" hide-back-button=false>
 <ion-nav-buttons side="left">
  </ion-nav-buttons>

  <ion-content class="has-header">
  <ion-item style="text-align:center; background-color: #96aceb">
  <br/>
    <b>{{res_title}}</b><br/><br/>
  </ion-item>
    <ion-list>
      <ion-item ng-bind-html="content" class="item item-text-wrap" ng-repeat="coupon in coupon_list">
      </ion-item></br></br>
      <div align="center" ng-if="url!='http://106.186.23.15/images/medium/missing.png'"><a href="{{url}}" data-lightbox="{{res_title}}" data-title="{{res_title}}"><img src="{{url}}"/></a></div>
    </ion-list>
  </ion-content>
</ion-view>
